.slider{
  height: 500px;
  background-image: url('../public/img/slider.jpg');
  background-size:cover;
  background-position: center;
}
.App{
  text-align: center;
}
.c1{text-decoration: none; color: #333; text-align: center;}
.c1:hover{color: blue;}

.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition:0.5s;
}

.before{
  transform: scale(0);
}
.after{
  transform: scale(1);
  transition:all 0.5s;
}